<div class="page-header">
  <div>
      <h2 class="main-content-title tx-24 mb-1">Join Inspection Data Entry Details</h2>
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="dashboard">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page"> Details</li>
      </ol>
  </div>
  <div class="rows">
    <h2 class="main-content-title tx-24 mb-1">Job No : {{job_detail.job_id.job_detail_no}}</h2>
    <h2 class="main-content-title tx-24 mb-1">No of Count : {{job_count}}</h2>
    <button class="btn btn-secondary mt-2" (click)="goBack()"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</button>
  </div>
</div>

 <p-tabView>
  <ng-container *ngIf="specInfoVisible">
    <p-tabPanel header="Specification">
      <div class="row">
        <button type="button" style="float:right" class="btn btn-primary mt-4" (click)="print_pdf()">Print value</button>
       </div>
       <div class="d-flex justify-content-center mt-5 mb-5" *ngIf="loader_view">
        <div class="loader" ></div>
       </div>
      
      <div class="card custom-card mt-3" *ngIf="!loader_view" >
        <div class="card-body">
            <div class="card-item">
              <!-- <div class="row">
                <div class="col-12">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"><span class="heading">Job ID:</span> {{eachSpecData?.jobId?eachSpecData?.jobId:'-'}}</li>
                    <li class="list-group-item"><span class="heading">Customer Name:</span> {{eachSpecData?.customerName?eachSpecData?.customerName:'-'}}</li>
                    <li class="list-group-item"><span class="heading">Vertical Rise:</span> {{eachSpecData?.verticalRise?eachSpecData?.verticalRise:'-'}}</li>
                    <li class="list-group-item"><span class="heading">Capacity:</span> {{eachSpecData?.capacity?eachSpecData?.capacity:'-'}}</li>
                    <li class="list-group-item"><span class="heading">Angle Of Inclination:</span> {{eachSpecData?.angleOfInclination?eachSpecData?.angleOfInclination:'-'}}</li>
                    <li class="list-group-item"><span class="heading">Rated Speed:</span> {{eachSpecData?.ratedSpeed?eachSpecData?.ratedSpeed:'-'}}</li>
                    <li class="list-group-item"><span class="heading">Step Width:</span> {{eachSpecData?.stepWidth?eachSpecData?.stepWidth:'-'}}</li>
                    <li class="list-group-item"><span class="heading">Flat Step:</span> {{eachSpecData?.flatSteps?eachSpecData?.flatSteps:'-'}}</li>
                    <li class="list-group-item"><span class="heading">Installed By:</span> {{eachSpecData?.installedBy?eachSpecData?.installedBy:'-'}}</li>
                    <li class="list-group-item"><span class="heading">Tested By:</span> {{eachSpecData?.routeEngineer?eachSpecData?.routeEngineer:'-'}}</li>
                    <li class="list-group-item"><span class="heading">Route Engineer:</span> {{eachSpecData?.zonalEngineer?eachSpecData?.zonalEngineer:'-'}}</li>
                    <li class="list-group-item"><span class="heading">Zonal Engineer:</span> {{eachSpecData?.operationHead?eachSpecData?.operationHead:'-'}}</li>
                    <li class="list-group-item"><span class="heading">Operation Head:</span> {{eachSpecData?.operationHead?eachSpecData?.operationHead:'-'}}</li>
                    <li class="list-group-item"><span class="heading">Service Head:</span> {{eachSpecData?.serviceHead?eachSpecData?.serviceHead:'-'}}</li>
                    <li class="list-group-item"><span class="heading">Service Record Date:</span> {{eachSpecData?.serviceRecordDate?eachSpecData?.serviceRecordDate:'-'}}</li>
                    <li class="list-group-item"><span class="heading">Motor Make Type:</span> {{eachSpecData?.motorMakeType?eachSpecData?.motorMakeType:'-'}}</li>
                    <li class="list-group-item"><span class="heading">Motor S.No:</span> {{eachSpecData?.motorSlNo?eachSpecData?.motorSlNo:'-'}}</li>
                   
                  </ul>
                </div>
              </div>
              -->
               <div class="table-responsive"> 
                <table style="width:100%" class="table">
                    <tr>
                      <th>Job ID</th>
                      <td>{{eachSpecData?.jobId ? eachSpecData?.jobId : '-'}}</td>
                    </tr>
                    <tr>
                      <th>Customer Name</th>
                      <td>{{eachSpecData?.customerName ? eachSpecData?.customerName : '-'}}</td>
                    </tr>
                    <tr>
                      <th>Vertical Rise</th>
                      <td>{{eachSpecData?.verticalRise ? eachSpecData?.verticalRise : '-'}}</td>
                    </tr>
                    <tr>
                      <th>Capacity</th>
                      <td>{{eachSpecData?.capacity ? eachSpecData?.capacity : '-'}}</td>
                    </tr>
                    <tr>
                      <th>Angle Of Inclination</th>
                      <td>{{eachSpecData?.angleOfInclination ? eachSpecData?.angleOfInclination : '-'}}</td>
                    </tr>
                    <tr>
                      <th>Rated Speed</th>
                      <td>{{eachSpecData?.ratedSpeed ? eachSpecData?.ratedSpeed : '-'}}</td>
                    </tr>
                    <tr>
                      <th>Step Width</th>
                      <td>{{eachSpecData?.stepWidth ? eachSpecData?.stepWidth : '-'}}</td>
                    </tr>
                    <tr>
                      <th>Flat Step</th>
                      <td>{{eachSpecData?.flatSteps ? eachSpecData?.flatSteps : '-'}}</td>
                    </tr>
                    <tr>
                      <th>Installed By</th>
                      <td>{{eachSpecData?.installedBy ? eachSpecData?.installedBy : '-'}}</td>
                    </tr>
                    <tr>
                      <th>Tested By</th>
                      <td>{{eachSpecData?.routeEngineer ? eachSpecData?.routeEngineer : '-'}}</td>
                    </tr>
                    <tr>
                      <th>Route Engineer</th>
                      <td>{{eachSpecData?.zonalEngineer ? eachSpecData?.zonalEngineer : '-'}}</td>
                    </tr>
                    <tr>
                      <th>Zonal Engineer</th>
                      <td>{{eachSpecData?.operationHead ? eachSpecData?.operationHead : '-'}}</td>
                    </tr>
                    <tr>
                      <th>Operation Head</th>
                      <td>{{eachSpecData?.operationHead ? eachSpecData?.operationHead : '-'}}</td>
                    </tr>
                    <tr>
                      <th>Service Head</th>
                      <td>{{eachSpecData?.serviceHead ? eachSpecData?.serviceHead : '-'}}</td>
                    </tr>
                    <tr>
                      <th>Service Record Date</th>
                      <td>{{eachSpecData?.serviceRecordDate ? eachSpecData?.serviceRecordDate : '-'}}</td>
                    </tr>
                    <tr>
                      <th>Motor Make Type</th>
                      <td>{{eachSpecData?.motorMakeType ? eachSpecData?.motorMakeType : '-'}}</td>
                    </tr>
                    <tr>
                      <th>Motor S.No</th>
                      <td>{{eachSpecData?.motorSlNo ? eachSpecData?.motorSlNo : '-'}}</td>
                    </tr>
                    <tr>
                      <th>Motor KW</th>
                      <td>{{eachSpecData?.motorKW ? eachSpecData?.motorKW : '-'}}</td>
                    </tr>
                    <tr>
                      <th>Motor Voltage</th>
                      <td>{{eachSpecData?.motorVoltage ? eachSpecData?.motorVoltage : '-'}}</td>
                    </tr>
                    <tr>
                      <th>Motor Current</th>
                      <td>{{eachSpecData?.motorCurrent ? eachSpecData?.motorCurrent : '-'}}</td>
                    </tr>
  
                    <tr>
                      <th>Motor RPM</th>
                      <td>{{eachSpecData?.motorRPM ? eachSpecData?.motorRPM : '-'}}</td>
                    </tr>
                    <tr>
                      <th>Gear Box Make Type</th>
                      <td>{{eachSpecData?.gearBoxMakeType ? eachSpecData?.gearBoxMakeType : '-'}}</td>
                    </tr>
                    <tr>
                      <th>Gear Box S.No</th>
                      <td>{{eachSpecData?.gearBoxSlNo ? eachSpecData?.gearBoxSlNo : '-'}}</td>
                    </tr>
                    <tr>
                      <th>Gear Box Oil Grade</th>
                      <td>{{eachSpecData?.gearBoxOilGrade ? eachSpecData?.gearBoxOilGrade : '-'}}</td>
                    </tr>
                    <tr>
                      <th>Gear Box Oil Capacity</th>
                      <td>{{eachSpecData?.gearBoxOilCapacity ? eachSpecData?.gearBoxOilCapacity : '-'}}</td>
                    </tr>
                    <tr>
                      <th>Brake Make Type</th>
                      <td>{{eachSpecData?.brakeMakeType ? eachSpecData?.brakeMakeType : '-'}}</td>
                    </tr>
                    <tr>
                      <th>Brake S.No</th>
                      <td>{{eachSpecData?.brakeSlNo ? eachSpecData?.brakeSlNo : '-'}}</td>
                    </tr>
  
                    <!--  -->
                    <tr>
                      <th>Brake Travel</th>
                      <td>{{eachSpecData?.brakeTravel ? eachSpecData?.brakeTravel : '-'}}</td>
                    </tr>
                    <tr>
                      <th>Brake Voltage</th>
                      <td>{{eachSpecData?.brakeVoltage ? eachSpecData?.brakeVoltage : '-'}}</td>
                    </tr>
                    <tr>
                      <th>Brake Current</th>
                      <td>{{eachSpecData?.brakeCurrent ? eachSpecData?.brakeCurrent : '-'}}</td>
                    </tr>
                    <tr>
                      <th>Control Type</th>
                      <td>{{eachSpecData?.controllerType ? eachSpecData?.controllerType : '-'}}</td>
                    </tr>
                    <tr>
                      <th>Controller S.No</th>
                      <td>{{eachSpecData?.controllerSlNo ? eachSpecData?.controllerSlNo : '-'}}</td>
                    </tr>
                    <tr>
                      <th>Star Delta</th>
                      <td>{{eachSpecData?.starDelta ? eachSpecData?.starDelta : '-'}}</td>
                    </tr>
                    <tr>
                      <th>Make S.No</th>
                      <td>{{eachSpecData?.makeSlNo ? eachSpecData?.makeSlNo : '-'}}</td>
                    </tr>
  
                    <tr>
                      <th>V3F Capacity</th>
                      <td>{{eachSpecData?.v3fCapacity ? eachSpecData?.v3fCapacity : '-'}}</td>
                    </tr>
                    <tr>
                      <th>Contractor Make</th>
                      <td>{{eachSpecData?.contactorsMake ? eachSpecData?.contactorsMake : '-'}}</td>
                    </tr>
                    <tr>
                      <th>Contractor Rating</th>
                      <td>{{eachSpecData?.contactorsRating ? eachSpecData?.contactorsRating : '-'}}</td>
                    </tr>
                    <tr>
                      <th>Amps</th>
                      <td>{{eachSpecData?.amps ? eachSpecData?.amps : '-'}}</td>
                    </tr>
                    <tr>
                      <th>Wiring Diagram Number</th>
                      <td>{{eachSpecData?.wiringDiagramNo ? eachSpecData?.wiringDiagramNo : '-'}}</td>
                    </tr>
                    <tr>
                      <th>Brake Make Type</th>
                      <td>{{eachSpecData?.brakeMakeType ? eachSpecData?.brakeMakeType : '-'}}</td>
                    </tr>
                    <tr>
                      <th>Place Micro Processor</th>
                      <td>{{eachSpecData?.plcMicroProcesser ? eachSpecData?.plcMicroProcesser : '-'}}</td>
                    </tr>
                    <tr>
                      <th>Place Make Type</th>
                      <td>{{eachSpecData?.plcMakeType ? eachSpecData?.plcMakeType : '-'}}</td>
                    </tr>
                    <tr>
                      <th>Transform Make Type</th>
                      <td>{{eachSpecData?.transformerMakeType ? eachSpecData?.transformerMakeType : '-'}}</td>
                    </tr>
                    <tr>
                      <th>Voltage IP</th>
                      <td>{{eachSpecData?.voltageIP ? eachSpecData?.voltageIP : '-'}}</td>
                    </tr>
                    <tr>
                      <th>Voltage OP</th>
                      <td>{{eachSpecData?.voltageOP ? eachSpecData?.voltageOP : '-'}}</td>
                    </tr>
                  
                  <!-- <tr>
                    <th class="th-1">
                      S.No
                  </th>
                  <th>
                    Job ID
                  </th>
                    <th>
                   Customer Name
                    </th>
                    <th>Vertical Rise</th>
                    <th>Capacity</th>
                    <th>Angle Of Inclination</th>
                    <th>Rated Speed</th>
                    <th>Step Width</th>
                    <th>Flat Step</th>
                    <th>Installed By</th>
                    <th>Tested By</th>
                    <th>Route Engineer</th>
                    <th>Zonal Engineer</th>
                    <th>Operation Head</th>
                    <th>Service Head</th>
                    <th>Service Record Date</th>
                    <th>Motor Make Type</th>
                    <th>Motor S.No</th>
                    <th>Capacity</th>
                    <th>Capacity</th>
                    <th>Capacity</th>
                    <th>Capacity</th>
                    <th>Capacity</th>
  
                  </tr>
                  <ng-container *ngFor="let item of getSpecInfo; let i = index">
                    <tr>
                      <td>{{i+1}}</td>
                      <td>{{item?.jobId?item?.jobId:'-'}}</td>
                      <td>{{item?.customerName?item?.customerName:'-'}}</td>
                      <td>{{item?.verticalRise?item?.verticalRise:'-'}}</td>
                      <td>{{item?.capacity?item?.capacity:'-'}}</td>
                      <td>{{item?.angleOfInclination?item?.angleOfInclination:'-'}}</td>
                      <td>{{item?.ratedSpeed?item?.ratedSpeed:'-'}}</td>
                      <td>{{item?.stepWidth?item?.stepWidth:'-'}}</td>
                      <td>{{item?.flatSteps?item?.flatSteps:'-'}}</td>
                      <td>{{item?.installedBy?item?.installedBy:'-'}}</td>
                      <td>{{item?.testedBy?item?.testedBy:'-'}}</td>
                      <td>{{item?.routeEngineer?item?.routeEngineer:'-'}}</td>
                      <td>{{item?.zonalEngineer?item?.zonalEngineer:'-'}}</td>
                      <td>{{item?.operationHead?item?.operationHead:'-'}}</td>
                      <td>{{item?.serviceHead?item?.serviceHead:'-'}}</td>
                      <td>{{item?.serviceRecordDate?item?.serviceRecordDate:'-'}}</td>
                      <td>{{item?.motorMakeType?item?.motorMakeType:'-'}}</td>
                      <td>{{item?.motorSlNo?item?.motorSlNo:'-'}}</td>
  
                     
                    </tr>
                  </ng-container> -->
      
      
      
      
                </table>
              </div> 
                
      
                </div>
                </div>
      </div>
    </p-tabPanel>
  </ng-container>
  
  <p-tabPanel header="Check-list">
    <div class="row">
      <button type="button" style="float:right" class="btn btn-primary mt-4" (click)="print_pdf()">Print value</button>
     </div>
     <div class="d-flex justify-content-center mt-5 mb-5" *ngIf="loader_view">
      <div class="loader" ></div>
     </div>
    <div class="card custom-card mt-3" *ngIf="!loader_view" >
      <div class="card-body">
          <div class="card-item">
            <table style="width:100%">
              <tr>
                <th class="th-1">
                  S.No
              </th>
              <!-- <th>
                Sub Group name
              </th> -->
              <th>
                Field Name
              </th>
                <th>
               Field Descr
                </th>
                <th>
                  Field Remarks
                   </th>
               <ng-container  *ngFor="let items of job_list_detail; let i = index">
                <th>
                  <ng-container *ngIf="items.user_id">
                    <ng-container *ngIf="specInfoVisible; else elseBlock">
                      Name : {{items.user_id.user_name}} ({{items.user_id?.emp_type == 'Engineer' || items.user_id?.emp_type == 'Repair Engineer'?'JIC Eng':'OPR Eng'}})
                    </ng-container>
                    <ng-template #elseBlock>
                       Name: {{ items.user_id.user_name }}
                  <span *ngIf="items.user_id.user_designation === 'JIC Tech'">(JIC Eng)</span>
                  <span *ngIf="items.user_id.user_designation !== 'JIC Tech'">(OPR Eng)</span>
                    </ng-template>
                    
                    
                  </ng-container>              
                  <br>
                 </th>
               </ng-container>
              </tr>
              <ng-container *ngFor="let item of table_data; let i = index">
                <tr>
                  <td>{{i+1}}</td>
                  <!-- <td>{{ this.job_detail.sub_group_id.sub_group_detail_name}}</td> -->
                  <td>{{item.field_name}}</td>
                  <td>{{item.field_comments}}</td>
                  <td>{{item.remarks}}</td>
                  <ng-container  *ngFor="let items of job_list_detail; let j = index">
                    <td> {{items.data_store[i].field_value}} </td>
                   </ng-container>
                </tr>
              </ng-container>
  
  
  
  
            </table>
    
              </div>
              </div>
    </div>
  </p-tabPanel>
</p-tabView>

