
<section>
    <div class="page-header">
        <div>
            <h2 class="main-content-title tx-24 mb-1 capitalize">FLASH MESSAGE</h2>
        </div>
    </div>
   
<div class="row row-sm">
<div class="col-lg-12">
  <div class="card custom-card">
        <div class="card-body">
            <div class="card-item">
                <form [formGroup]="flashMessageForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-md-4">
                        <h5 class="form-lable required">Message <span class="required">*</span></h5>
                        <input type="text" pInputText name="message" formControlName="message"  placeholder="Enter Message">
                    </div>
                    <div class="col-md-4">
                        <h5 class="form-lable">Description</h5>
                        <textarea name="" formControlName="description" placeholder="Enter Description" id="description"></textarea>
                    </div>
                    <div class="col-md-4 m-auto">
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </div>
            </form>
            </div>
        </div>
  </div>
</div>
</div>
</section>